@model IPaginatedList<App>
@{
    ViewBag.Title = "我的应用";
    Layout = "~/Views/Shared/_Site.cshtml";
}
<div class="content-box">
    <div class="content-box-header">
        <h3>@ViewBag.Title</h3>
        <a href="@Url.Action("CreateApp")" class="iframe" rel="modal">
            <img src="../../Content/images/icons/new.png" title="添加应用" alt="添加应用" width="36px"
                height="36px" />
        </a>
        <div class="clear">
        </div>
    </div>
    <div class="content-box-content">
        <div class="tab-content default-tab" id="tab1">
        @(
	 Html.Grid<App>().Columns(c => {
		c.Column(x => x.Name).Header("应用名称").Width(100).Sortable(true);
		c.Column(x => x.Intro).Header("应用简介").Sortable(true);
        c.Column(x => x.Status).Header("状态").Width(50).Align(Alignment.Center).Sortable(true).Dictionary("AppStatus");
        c.Column().Header("操作").Width(150).Align(Alignment.Center).Template(
            @<text>
                @switch ((AppStatus)item.Status) {
                        case AppStatus.Draft:
                        case AppStatus.Reject:
                            @Html.ActionLink("设置内容源", "AppDetails", new { id = item.Id }, new { @class = "iframe", rel = "modal" })  <text>|</text>
                            @Html.ActionLink("提交审核", "SubmitApp", new { id = item.Id })  <text>|</text>
                            @Html.DeleteLink("DeleteApp", new { id = item.Id })
                       break;
                        case AppStatus.Publish: 
                            @Html.ActionLink("下线", "OffApp", new { id = item.Id }) 
                       break;
                    }
            </text>);
	})
    .Sort(defaultSort: "CreateTime Desc")
    .Ajax(isAjax:false)
) 
           @* @foreach (App item in Model) {
                <div>
                    <p>@Html.ActionLink(item.Name, "EditApp", new { id = item.Id }, new { @class = "iframe", rel = "modal" })</p>
                    <p>@item.Intro</p>
                    <p>@Html.DictionaryText("AppStatus", item.Status.ToString())</p>
                    @switch ((AppStatus)item.Status) {
                        case AppStatus.Draft:
                        case AppStatus.Reject:
                            @Html.ActionLink("设置内容源", "AppDetails", new { id = item.Id }, new { @class = "iframe", rel = "modal" })  
                            @Html.ActionLink("提交审核", "SubmitApp", new { id = item.Id })  
                            @Html.DeleteLink("DeleteApp", new { id = item.Id })
                       break;
                        case AppStatus.Publish: 
                            @Html.ActionLink("下线", "OffApp", new { id = item.Id }) 
                       break;
                    }
                </div>
            }
            @Html.Pager(Model)*@
            <div class="clear">
            </div>
        </div>
    </div>
    <div align="center">
    </div>
</div>
