@model App
@{
    ViewBag.Title = "创建应用";
    Layout = "~/Views/Shared/_Form.cshtml";
}


@using (Html.BeginForm())
{
	<div class="content-box">
		<div class="content-box-header">
			<h3>@ViewBag.Title</h3>
			<div class="clear">
			</div>
		</div>
		<div class="content-box-content">
			<div class="tab-content default-tab" id="tab1">
				@Html.ValidationSummary(true) 
				<fieldset>
					<legend></legend>
					<p>
						<label class="field">应用名称</label> 
						@Html.TextBoxFor(model => model.Name)
					</p> 
					<p>
						<label class="field">应用简介</label> 
						@Html.TextBoxFor(model => model.Intro)
					</p> 
					<p>
						<label class="field">应用介绍</label>
						@Html.TextAreaFor(model => model.Summary, 10, 30, null);
					</p> 
					<p>
						<label class="field">应用分类</label>
						@Html.DropDownListFor(model => model.CategoryId,(IEnumerable<ValueText>) ViewBag.AppCategories)
					</p>  
					<p>
						<label class="field">标签</label> 
						@Html.TextBoxFor(model => model.Tag)
					</p>
				</fieldset>  
				<div class="clear">
				</div>
			</div>
		</div>
		<div align="center">
			<input type="submit" value="创建" />
		</div>
	</div>
} 

@section script{
	<script type="text/javascript">

	    $(function () {
	        $("form").validate({
	            rules: {
	                Name: "required",
	                Intro: "required",
	                CategoryId: "required",
	                Tag: "required"
	            },
	            submitHandler: function (form) {
	                $.ajaxSave({ url: form.action });
	            }
	        });
	    });
	</script>
}
