@model LinkItem
@{
    ViewBag.Title = "内容源";
    Layout = "~/Views/Shared/_Form.cshtml";
}

@using (Html.BeginForm())
{
	<div class="content-box">
		<div class="content-box-header">
			<h3>@ViewBag.Title</h3>
			<div class="clear">
			</div>
		</div>
		<div class="content-box-content">
			<div class="tab-content default-tab" id="tab1">
				@Html.ValidationSummary(true) 
				<fieldset>
					<legend></legend>
					<p>
						<label class="field">内容连接</label> 
						@Html.TextBoxFor(model => model.Url)
					</p> 
					<p>
						<label class="field">xPath</label> 
						@Html.TextBoxFor(model => model.XPath)
					</p> 
					<p>
						<label class="field">状态</label>
						@Html.RadioButtonListFor(model => model.Status,"ItemStatus")
					</p> 
				</fieldset>  
				@Html.HiddenFor(model=> model.CreateTime)
				<div class="clear">
				</div>
			</div>
		</div>
		<div align="center">
			<input type="submit" value="保存" />
		</div>
	</div>
} 

@section script{
	<script type="text/javascript">

	    $(function () {
	        $("form").validate({
	            rules: {
	                Url: "required",
	                XPath: "required",
	                Status: "required"
	            },
	            submitHandler: function (form) {
                    @if(ViewBag.App.Status == (int)AppStatus.Publish){
	                <text>if (!confirm("编辑内容源需要重新审核，确认继续提交?")) { return; }</text>
                    }
	                $.ajaxSave({ url: form.action }); /*'@Url.Action("New", new { entity = "LinkItem" })'*/
	            }
	        });
	    });
	</script>
}
